/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src: url(./NanumBarunGothicUltraLight.eot);
  src: url(./NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothicUltraLight.woff) format('woff'),
       url(./NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(./NanumBarunGothicLight.eot);
  src: url(./NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothicLight.woff) format('woff'),
       url(./NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(./NanumBarunGothic.eot);
  src: url(./NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothic.woff) format('woff'),
       url(./NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(./NanumBarunGothicBold.eot);
  src: url(./NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothicBold.woff) format('woff'),
       url(./NanumBarunGothicBold.ttf) format('truetype');
}

